{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}


{% for question, answers in list.items() %}
{% if answers != [] %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#questionCollapse{{loop.index}}">
        {{ question }}
      </button>
    </h2>
    <div id="questionCollapse{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      {% for answer in answers %}
      <p>{{ answer }}</p>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}
