{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<form>
    
    <div class="form-outline w-90 mb-4">
      <label for="answer">{{ list[0] }}</label>
      <textarea class="form-control" id="answer" rows="4"></textarea>
      <small id="emailHelp" class="form-text text-muted">I'm leaving this in a placeholder incase we want to add a comment on the text field</small>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Share my reponse anonymously to help others.</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

{% endblock %}