{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<form method="POST" action=/submitanswer>
    
    <div class="form-outline w-90 mb-4">
      <input type="hidden" id="qid" name="qid" value="{{qid}}">
      <label for="answer">{{ question }}</label>
      <textarea class="form-control" id="answer" name="answer"  rows="4"></textarea>
      <small id="emailHelp" class="form-text text-muted">Your responses will only be shared if you select for them to be and all sharing is completely anonymous.</small>
    </div>
    <!-- <select name="user" id="user">
      {% for user in users %}
      <option value="{{user}}">{{user}}</option>
      {% endfor %}
    </select> -->
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Share my reponse anonymously to help others.</label>
    </div> -->
    <div class="custom-control custom-radio">
      <input type="radio" id="share" name="share" class="custom-control-input" value='1'>
      <label class="custom-control-label" for="share">Share my reponse anonymously to help others.</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="noshare" name="share" class="custom-control-input" value='0' checked>
      <label class="custom-control-label" for="noshare">Keep this private.</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

{% endblock %}
